.formWrapper {
  display: flex;
  justify-content: center;
  padding: 1.5em;
}

form {
  width: 75%;
  padding: 0.8rem 0.8rem 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: #fff;
}

label {
  margin-left: 0.4em;
}
